*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# kev
venv
app.db
go-khg.log*
personalwebpage-385919-b94f0d39228d.json
google_oauth_client_secret.json
github-actions-cicd_accessKeys.csv
.env
Pipfile
Pipfile.lock
