<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Data Engineer for Mural by day. Reader, Economist, Athlete, and Engaged Citizen sporadically.">
    <title> Kevin Gould</title>
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='images/main/rocket.svg') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+J6QLZsNVCGT2oYU8z+MvWXIz1T9cl" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/9c9c18cea2.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    {% block otherscripts %}{% endblock %}
    </script>

    {{ moment.include_moment() }}

</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('main.homepage') }}">Home</a></li>
        <li><a href="{{ url_for('main.meet') }}">Meet me</a></li>
    </ul>
    <ul>
        <li><a href="https://twitter.com/thesamekeving" class="fa fa-twitter fa-xs"></a></li>
        <li><a href="https://www.linkedin.com/in/kevin-gould1/" class="fa fa-linkedin fa-xs"></a></li>
        <li><a href='https://github.com/khgould' class="fa fa-github fa-xs"></a></li>
        <!-- make these smaller -->
    </ul>
</nav>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>
</body>
<div class="footer">
    <p>built with <a href="https://pypi.org/project/Flask/">flask</a> </p>
    <p>©2023 khg</p>
</div>
</html>