{% extends "main/base.html" %}

{% block content %}
    <div class="profile-section">
        <img src="{{ url_for('static', filename='images/main/quad_notreallyme.png') }}" alt="stable-diffusion-kevin"
             title="stable-diffusion-kevin" class="profile-image">
        <div class="profile-header">
            <h1>Kevin Gould</h1>
            {#            <h2>data engineering and bizops</h2>#}
            <p>I studied economics and sustainable agriculture before joining an early stage supply chain data company -
                where I wore many hats.</p>
            <p>Currently, I'm working with <a href="https://www.mural.co">mural</a> — ➀&nbsp;building
                data infrastructure, ➁&nbsp;evangelizing data engineering and ➂&nbsp;improving
                data pipelines to power machine learning.</p>
            <p>I've spent the last few years walking around & exploring different cities, San Diego, Chicago, Salt Lake
                City, Denver, and San Fransisco.</p>
            <ul>
                <li><a href="{{ url_for('main.photos') }}">photos</a></li>
                <li><a href="{{ url_for('main.notes') }}">notes</a></li>
                {#                <li><a href="{{ url_for('main.recs') }}">recommendations</a></li>#}
            </ul>
        </div>
    </div>
{% endblock %}
