{% extends "main/base.html" %}

{% block content %}
    <div>
        <h2>Short form writing</h2>
        <p>Here are some of my favorite short form writing pieces. I write about data, startups, world events, and the
            occasional poem.</p>
        <ul class="link-list">
            <li><a href="#">Coffee - a poem</a></li>
            <li><a href="#">USD - The Case for Decline</a></li>
            <li><a href="#">2023 NHL Playoff Predictions</a></li>
            <li><a href="#">To Dip Your Toes in Data</a></li>
        </ul>
    </div>
{% endblock %}